 <!-- FUTURO SLIDER-->
<header class="page-header page-header-dark bg-img-cover overlay"
    style='background-image:url("../../../../assets/img/slide/slide2.JPG") '>
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <h1 class="page-header-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, debitis.</h1>
                    <p class="page-header-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut libero corporis placeat ex, eos voluptas, iure praesentium perferendis explicabo recusandae asperiores suscipit magni quod deleniti amet aperiam? Omnis, reprehenderit.t!</p>
                 
                    <a class=" btn btn-white btn-marketing  rounded-pill px-4 ml-lg-4" href="idea_of_plans.html">Comienza ya!<i
                    class="far fa-eye ml-1"></i></a>
                   

                </div>
                 <a class="col-1" href="https://www.instagram.com/ka.koach/" target="_blank"><i
                    class="fab fa-instagram" style="font-size: 2.25rem;"></i></a>
                   
                  
                
            </div>
      

            
        </div>
    </div>

<!-- SEPARADOR DE ESPACION ENTRE TIENDAS  Y EL SUSCRIBIRSE A PROMOCIONES -->
<div class="svg-border-angled text-white border-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
        fill="currentColor">
        <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
</div>
</header>