 <!-- FUTURO SLIDER-->
<header class="page-header page-header-dark bg-img-cover overlay" data-aos="fade-right" 
    style='background-image:url({{url}}/mostrar-principal-img-inicio/{{imagenData.imagen}}) '
    >
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center" >
                <div class="col-xl-8 col-lg-10 text-center">
                    <h1 class="page-header-title">{{imagenData.titulo}}</h1>
                    <p class="page-header-text mb-5">{{imagenData.descripcion}}</p>
                 
                    <div>
                        <div class="row justify-content-center" data-aos="fade-up">
                            <div class="col-12">
                                <a class=" btn btn-white btn-marketing  rounded-pill px-4" href="/planes">Comienza ya!
                                    <i class="far fa-eye"></i>
                                </a>           
                            </div>
                        </div>
                           
                         <div class="row justify-content-center mt-4" data-aos="fade-down">
                            <div class="col-5"></div>
                                <a class="col-md-2" href="{{instagram?.url}}" target="_blank">
                                    <i class="fab fa-instagram" style="font-size: 2.25rem; color: white"></i>
                                </a>     
                             <div class="col-5"></div>
                         </div>  
                       
                    </div>
                </div>    
            </div>
      

            
        </div>
    </div>

<!-- SEPARADOR DE ESPACION ENTRE TIENDAS  Y EL SUSCRIBIRSE A PROMOCIONES -->
<div class="svg-border-angled text-white border-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
        fill="currentColor">
        <polygon points="0,100 100,0 100,100"></polygon>
    </svg>
</div>
</header>