 <!-- SECCCION TITULO  -->
<section class="bg-light py-5">
    <div class="container">
        <!-- TITULO -->
        <div class="row justify-content-center mt-5">
            <div class="col-lg-6">
                <div class="mb-5 text-center">
                    <div class="text-xs text-uppercase-expanded text-primary mb-2">{{benefitstJson.titulo}}
                    </div>
                    <p class="lead mb-0">{{benefitstJson.descripcion}} </p>
                </div>
            </div>
        </div>
      </div>
  
</section>
<!-- SECCION VER MÁS-->
<section class="bg-light pt-5 pb-0" >
   
    <app-border-footer></app-border-footer>
</section>

