 <!-- SECCCION TITULO  -->
<section class="bg-light py-5">
    <div class="container">
        <!-- TITULO -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="mb-5 text-center">
                    <div class="text-xs text-uppercase-expanded text-primary mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente est expedita doloribus! 
                    </div>
                    <p class="lead mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum est perspiciatis ab totam unde accusamus ducimus nemo eaque inventore, minima animi nam? Tempore, sed. Ipsa voluptatum atque, suscipit esse ab ducimus fugiat assumenda provident neque incidunt? Magnam debitis sunt accusamus! </p>
                </div>
            </div>
        </div>
      </div>
  
</section>
<!-- SECCION VER MÁS-->
<section class="bg-light pt-5  pb-0" >
    <div class="container">
        <!-- Ver Más -->
        <div class="card mt-n10 mb-10 z-1">
            <div class="card-body p-4">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h4>Saber Más</h4>
                        <p class="lead text-gray-500 mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, iste!
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group mb-2">
                            <input class="form-control form-control-solid" type="text"
                                placeholder="youremail@example.com" aria-label="Recipient's username"
                                aria-describedby="button-addon2" />
                            <div class="input-group-append"><button class="btn btn-primary"
                                    id="button-addon2" type="button">Enviar</button></div>
                        </div>
                        <div class="small text-gray-500">Lorem ipsum dolor sit amet.</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="svg-border-angled text-black">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" preserveAspectRatio="none"
            fill="currentColor">
            <polygon points="0,100 100,0 100,100"></polygon>
        </svg>
    </div>
</section>
