<div class="icon-list-social mb-5 justify-content-center mt-5">
    <a class="icon-list-social-link" href="javascript:void(0);"><i
            class="fab fa-instagram"></i></a><a class="icon-list-social-link"
        href="javascript:void(0);"><i class="fab fa-facebook" ></i></a><a
        class="icon-list-social-link" href="javascript:void(0);"><i
            class="fab fa-github"></i></a><a class="icon-list-social-link"
        href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
</div>