<header class="page-header page-header-dark bg-img-cover overlay overlay-60" style='background-image:url({{url}}/mostrar-principal-img-sobremi/{{imgJson?.imagen}}) '>
            <div class="page-header-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-title mb-3">{{imgJson?.titulo}}</h1>
                    <p class="page-header-text mb-0">{{imgJson?.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</header>