  <div id="layoutDefault">
        <!-- CONTENT -->
        <div id="layoutDefault_content">
            <main>
                <app-navbar></app-navbar>
                <app-imagen-coleccion></app-imagen-coleccion>
                <!-- GALERIA DE HISTORIAS (400*300, 400*500, 400*400)-->
                <section class="bg-white py-5">               
                 <app-cards (cardsRendered)="cardsIsRendered($event)"></app-cards>
                 <app-border-footer ></app-border-footer>
                </section>
                <app-footer ></app-footer>
            </main>
        </div>
  </div>