  <div id="layoutDefault">
        <!-- CONTENT -->
        <div id="layoutDefault_content">
            <main>
                <app-navbar></app-navbar>
                <!-- GALERIA DE HISTORIAS (400*300, 400*500, 400*400)-->
                <section class="bg-white py-10">
                <h1 class="page-header-title text-center mb-5" style="font-size: 60px;">Sobre mi</h1>
                <div class="row justify-content-center w-100 p-3">
                    <app-socialmedia></app-socialmedia>
                </div>
                <div class="container">
                <div class="card-columns card-columns-portfolio">
                   <a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako2.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum dolor sit, amet</div>
                        
                    </div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako3.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako4.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako1.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako2.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako3.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako4.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako1.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div></div></a
                    ><a class="card card-portfolio" href="#!"
                        ><img class="card-img-top" src="../../../assets/img/historia/kako1.PNG" alt="..." />
                        <div class="card-body"><div class="card-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</div></div></a
                    >
                </div>
                </div>
                <!-- <div class="svg-border-rounded text-black">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div> -->
                <!-- BORDE -->
                
                <app-border-footer></app-border-footer>
                </section>
                <app-footer></app-footer>
            </main>
        </div>
  </div>