  <div id="layoutDefault">
        <!-- CONTENT -->
        <div id="layoutDefault_content">
            <main>
                <app-navbar></app-navbar>
                <app-imagen-coleccion></app-imagen-coleccion>
                <!-- GALERIA DE HISTORIAS (400*300, 400*500, 400*400)-->
                <section class="bg-white py-5">
                <div class="row justify-content-center ">
                    <!-- <app-socialmedia></app-socialmedia> -->
                    <div class="icon-list-social mb-5" style="font-size: 2.25rem; margin-right: 0.5rem;">
                    <a style="margin-left: 0.5rem;" href="javascript:void(0);"><i
                    class="fab fa-instagram"></i></a><a style="margin-left: 0.5rem;"
                    href="javascript:void(0);"><i class="fab fa-facebook" ></i></a><a
                    style="margin-left: 0.5rem;" href="javascript:void(0);"><i
                    class="fab fa-github"></i></a><a style="margin-left: 0.5rem;"
                    href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="container">
                <div class="card-columns card-columns-portfolio"  >
                   <a class="card card-portfolio" data-aos="zoom-in" href="#!" *ngFor="let card of cardsJson"
                        ><img class="card-img-top" src="{{card.imagen}}" alt="..." />
                        <div class="card-body"><div class="card-title">{{card.titulo}}</div>
                        
                        </div>
                    </a
                    >
                </div>
                </div>
                <!-- <div class="svg-border-rounded text-black">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                </div> -->
                <!-- BORDE -->
                
                <app-border-footer></app-border-footer>
                </section>
                <app-footer></app-footer>
            </main>
        </div>
  </div>