<div class="row mb-10">
    <div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="card shadow-lg border-0 rounded-lg mt-5">
			<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Transacción Aprobada  <i class="fas fa-check-circle" style="color: green"></i></h3>
			</div>
			<div class="card-body">
		
		        <div class="form-row mt-3">
		        	<div class="col-lg-1"></div>
		        	<div class="col-lg-9">
			        	<ul>
			        		<li>
			        			
				                <div class="form-group">
				                	<label class="small mb-1">Orden de Compra N°: {{transaction.buy_order}}</label>
				                </div>
				    
			        		</li>	
							<li>
								
				                <div class="form-group">
				                	<label class="small mb-1">Monto: {{precio}}</label>
				                </div>
					        	
							</li>
					        <li>
							
				                <div class="form-group">
				                	<label class="small mb-1">Número de Tarjeta: ********{{transaction.card_detail.card_number}} </label>
				                </div>
				           	      	
					        </li> 
					        <li>
					      		
				                <div class="form-group">
				                	<label class="small mb-1">Fecha de Pago: {{transaction.transaction_date}} </label>
				                </div>
				            	 	
					        </li>
				          	<li>
				          		
				                <div class="form-group">
				                	<label class="small mb-1">Tipo de Pago: {{transaction.payment_type_code}} </label>
				                </div>
				          	</li>
				          	<li>
				          		
				                <div class="form-group">
				                	<label class="small mb-1">N° Cuotas: {{transaction.installments_number}} </label>
				                </div>
				          	</li>

			        	</ul>

			        </div>

		        	<div class="col-lg-2 mr-2"></div>
		        </div>
			</div>

			<div class="card-footer text-center">
				<a class="btn btn-outline-dark btn-marketing rounded-pill" href="/"><i class="fas fa-arrow-left ml-4" style="font-size: 1rem"></i> &nbsp; Volver al Home</a> 
			</div>
		</div>
    </div>
    <div class="col-lg-4"></div>
