  <!-- SECCION 3 MEJORES PLANES -->
                <section class="bg-white pt-5">
                    <div class="container">
                
                            <!-- plan ESTRELLA -->
                        <!-- Titutlo y descripción (Tamaño perfecto de imagen de 800 x 500) -->
                        <div class="row justify-content-center" data-aos="zoom-in-down">
                            <div class="col-lg-6">
                                <div class="mb-5 text-center">
                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">Planes Estrellas
                                    </div>
                                    <p class="lead mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, nisi?!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- plan N1 -->
                            <div class="col-lg-4 mb-5 mb-lg-0" >
                                <a class="card lift" href="product.html"><img class="card-img-top"
                                        src="{{url}}/show-plan/{{secondaryPlansJson1.imagen}}" alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">{{secondaryPlansJson1.nombre}}</h6>
                                        <div class="text-yellow"  data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                        data-aos-duration="850"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>

                                        <div class="small">{{secondaryPlansJson1.descripcion}}
                                        </div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-dumbbell mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                            <!-- plan N2(plan personal) -->
                            <div class="col-lg-4 mb-5 mb-lg-0" >
                                <a class="card lift" href="#!"><img class="card-img-top"
                                        src="{{url}}/show-personal-plan-img/{{personalPlan?.imagen}}" alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">{{personalPlan?.titulo}}</h6>
                                        <div class="text-yellow"  data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                        data-aos-duration="850"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>

                                        <div class="small">{{personalPlan?.descripcion}}</div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-calendar-check mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                            <!-- plan N3 -->
                            <div class="col-lg-4" >
                                <a class="card lift" href="#!"><img class="card-img-top" src="{{url}}/show-plan/{{secondaryPlansJson2.imagen}}"
                                        alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">{{secondaryPlansJson2.nombre}}</h6>
                                        <div class="text-yellow" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                                        data-aos-duration="850"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star-half-alt"></i><i class="far fa-star"></i></div>

                                        <div class="small">{{secondaryPlansJson2.descripcion}}</div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-biking mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- SEPARADOR DE ESPACION ENTRE TIENDAS  Y EL SUSCRIBIRSE A PROMOCIONES -->
                    <div class="svg-border-angled text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
                            fill="currentColor">
                            <polygon points="0,100 100,0 100,100"></polygon>
                        </svg>
                    </div>
             
                </section>