
<!-- NAVBAR -->
<nav class="navbar navbar-marketing navbar-expand-lg navbar-light" style="background-color:001B37 ;">
    <div class="container">
        <img class="img-fluid" src="img/A1.png" alt="" style="height: 100px;">

        <a class="navbar-brand text-dark" href="index.html">Ka.koach</a><button
            class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><i  data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-5">
                <!-- INCIO -->
                <li class="nav-item"><a class="nav-link" href="">Inicio </a>
                </li>
                <!-- ITEM PLANES -->
                <li class="nav-item"><a class="nav-link" href="/planes">Planes </a>
                </li>
               
                 <!-- ITEM SOBRE MI -->
                 <li class="nav-item"><a class="nav-link" href="/coleccion">Sobre mi </a>
                 </li>
                <!-- USUARIO -->
                <li class="nav-item dropdown no-caret  dropdown-user">
                    <a class=" dropdown-toggle" id="navbarDropdownUserImage" href="" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <!-- Imagen usuaurio en nav -->
                        <div class="avatar avatar-online avatar-lg mr-1">
                            <img class="avatar-img img-fluid"
                                src="assets/img/img_user.png">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                        aria-labelledby="navbarDropdownUserImage">
                        <!-- Datos usuario -->
                        <h6 class="dropdown-header d-flex align-items-center">
                           
                            <div class="dropdown-user-details">
                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                            </div>
                        </h6>
                        <div class="dropdown-divider"></div>
                      
                        <!-- Salir -->
                        <a class="dropdown-item" href="#!">
                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                            Salir
                        </a>
                        <!-- Entrar -->
                        <a class="dropdown-item" href="login.html">
                            <div class="dropdown-item-icon"><i data-feather="log-in"></i></div>
                            Entrar
                        </a>
                        <!-- Registrarme -->
                        <a class="dropdown-item" href="login.html">
                            <div class="dropdown-item-icon"><i data-feather="edit-2"></i></div>
                            Registrarme
                        </a>
                        
                    </div>
                </li>
            </ul>
            <!-- BOTON COMPRAR -->
            <a class="btn-black btn rounded-pill px-4 ml-lg-4" href="detalle_compra.html">Comprar<i
                    class="fas fa-arrow-right ml-1"></i></a>
        </div>
    </div>
</nav>