
<!-- NAVBAR -->
<nav class="navbar navbar-marketing navbar-expand-lg navbar-light" style="background-color:001B37 ;">
    <div class="container">
        <img class="img-fluid" src="../../../../assets/img/logo/A1.png" alt="" style="height: 100px;">

        <a class="navbar-brand text-dark" href="index.html"></a><button
            class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><i  data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mr-lg-3">
                <!-- INCIO -->
                <li class="nav-item"><a class="nav-link" href="">Inicio </a>
                </li>
                <!-- ITEM PLANES -->
                <li class="nav-item"><a class="nav-link" href="/planes">Planes </a>
                </li>
               
                 <!-- ITEM SOBRE MI -->
                 <li class="nav-item"><a class="nav-link" href="/coleccion">Sobre mi </a>
                 </li>

                 <!-- SEPARATOR -->
                <div class="row grid-divider">
                    <div class="col-sm-4">
                      <div class="col-padding">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="col-padding">
                      </div>
                    </div>
                </div>
                
            
                   <!-- USUARIO -->
                <li class="nav-item dropdown  dropdown-user">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownUserImage" href="#!" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Log in
                    </a>

                    <div class="dropdown-menu dropdown-menu-left border-0 shadow animated--fade-in-up">
                        
                        <!-- Salir -->
                        <form class="m-3">

                        <div class="form-row">
                                <div class="form-group"><label class="small mb-1" for="inputMail">Mail</label><input class="form-control" id="inputPassword" type="email" placeholder="Ingresar Mail"/></div>
                        </div>
                        <div class="form-row">
                                <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control" id="inputPassword" type="password" placeholder="Ingresar Contraseña"/></div>
                        </div>

                        <div class="form-group mt-2 mb-0"><a class="btn btn-primary btn-block" href="login-basic.html">Logearse</a>
                        </div>
                        </form>
                        
                        
                    </div>
                </li>
            </ul>
            <!-- BOTON COMPRAR -->
            <a class="btn-black btn rounded-pill px-4 ml-lg-4" href="/crear-usuario">Registrar<i
                    class="fas fa-arrow-right ml-1"></i></a>
        </div>
    </div>
</nav>