 <div class="row mb-10">
    <div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="card shadow-lg border-0 rounded-lg mt-5">
			<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Transacción Aprobada  <i class="fas fa-check-circle" style="color: green"></i></h3>
			</div>
			<div class="card-body">
		
		        <div class="form-row mt-3">
		        	<div class="col-lg-2"></div>
		        	<div class="col-lg-8">
			        	<ul>
			        		<li>
			        			
				                <div class="form-group">
				                	<label class="small mb-1" for="inputFirstName">Orden de Compra N°: 1608672951962</label>
				                </div>
				    
			        		</li>	
							<li>
								
				                <div class="form-group">
				                	<label class="small mb-1" for="inputFirstName">Monto: 12000</label>
				                </div>
					        	
							</li>
					        <li>
							
				                <div class="form-group">
				                	<label class="small mb-1" for="inputFirstName">Número de Tarjeta: ********1234 </label>
				                </div>
				           	      	
					        </li> 
					        <li>
					      		
				                <div class="form-group">
				                	<label class="small mb-1" for="inputFirstName">Fecha de Pago: 12331 </label>
				                </div>
				            	 	
					        </li>
				          	<li>
				          		
				                <div class="form-group">
				                	<label class="small mb-1" for="inputFirstName">Tipo de Pago: Tarjeta de Débito </label>
				                </div>
				           		
				          	</li>
			        	</ul>

			        </div>

		        	<div class="col-lg-2"></div>
		        </div>
			</div>

			<div class="card-footer text-center">
				<a class="btn btn-outline-dark btn-marketing rounded-pill" href="/"><i class="fas fa-arrow-left ml-4" style="font-size: 1rem"></i> &nbsp; Volver al Home</a> 
			</div>
		</div>
    </div>
    <div class="col-lg-4"></div>
