<div>
    <div id="layoutDefault">
        <!-- CONTENT -->
        <div id="layoutDefault_content">
            <main>
              
                <!-- NAVBAR -->
                <nav class="navbar navbar-marketing navbar-expand-lg navbar-light" style="background-color:001B37 ;">
                    <div class="container">
                        <img class="img-fluid" src="img/A1.png" alt="" style="height: 100px;">

                        <a class="navbar-brand text-dark" href="index.html">Ka.koach</a><button
                            class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mr-lg-5">
                                <!-- INCIO -->
                                <li class="nav-item"><a class="nav-link" href="index.html">Inicio </a>
                                </li>
                                <!-- ITEM PLANES -->
                                <li class="nav-item"><a class="nav-link" href="idea_of_plans.html">Planes </a>
                                </li>
                               
                                 <!-- ITEM SOBRE MI -->
                                 <li class="nav-item"><a class="nav-link" href="aboutme.html">Sobre mi </a>
                                 </li>
                                <!-- USUARIO -->
                                <li class="nav-item dropdown no-caret  dropdown-user">
                                    <a class=" dropdown-toggle" id="navbarDropdownUserImage" href="" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                        <!-- Imagen usuaurio en nav -->
                                        <div class="avatar avatar-online avatar-lg mr-1">
                                            <img class="avatar-img img-fluid"
                                                src="assets/img/img_user.png">
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                                        aria-labelledby="navbarDropdownUserImage">
                                        <!-- Datos usuario -->
                                        <h6 class="dropdown-header d-flex align-items-center">
                                           
                                            <div class="dropdown-user-details">
                                                <div class="dropdown-user-details-name">Valerie Luna</div>
                                                <div class="dropdown-user-details-email">vluna@aol.com</div>
                                            </div>
                                        </h6>
                                        <div class="dropdown-divider"></div>
                                      
                                        <!-- Salir -->
                                        <a class="dropdown-item" href="#!">
                                            <div class="dropdown-item-icon"><i data-feather="log-out"></i></div>
                                            Salir
                                        </a>
                                        <!-- Entrar -->
                                        <a class="dropdown-item" href="login.html">
                                            <div class="dropdown-item-icon"><i data-feather="log-in"></i></div>
                                            Entrar
                                        </a>
                                        <!-- Registrarme -->
                                        <a class="dropdown-item" href="login.html">
                                            <div class="dropdown-item-icon"><i data-feather="edit-2"></i></div>
                                            Registrarme
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <!-- BOTON COMPRAR -->
                            <a class="btn-black btn rounded-pill px-4 ml-lg-4" href="detalle_compra.html">Comprar<i
                                    class="fas fa-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </nav>
                <!-- FUTURO SLIDER-->
               <header class="page-header page-header-dark bg-img-cover overlay"
                    style='background-image:url("assets/img/slide/slide1.jpg") '>
                    <div class="page-header-content">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-xl-8 col-lg-10 text-center">
                                    <h1 class="page-header-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, debitis.</h1>
                                    <p class="page-header-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ut libero corporis placeat ex, eos voluptas, iure praesentium perferendis explicabo recusandae asperiores suscipit magni quod deleniti amet aperiam? Omnis, reprehenderit.t!</p>
                                    <!-- <form class="page-header-signup">
                                        <div class="form-row justify-content-center">
                                            <div class="col-lg-6 col-md-8">
                                                <div class="form-group mr-0 mr-lg-2"><label class="sr-only"
                                                        for="inputSearch">Find local businesses...</label><input
                                                        class="form-control form-control-solid rounded-pill"
                                                        id="inputSearch" type="text"
                                                        placeholder="Find local businesses..." /></div>
                                            </div>
                                            <div class="col-lg-3 col-md-4"><button
                                                    class="btn btn-teal btn-block btn-marketing rounded-pill"
                                                    type="submit">Search</button></div>
                                        </div>
                                    </form> -->
                                   
                                    <a class=" btn btn-white btn-marketing  rounded-pill px-4 ml-lg-4" href="idea_of_plans.html">Ver Más<i
                                class="far fa-eye ml-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
              
                <!-- SEPARADOR DE ESPACION ENTRE TIENDAS  Y EL SUSCRIBIRSE A PROMOCIONES -->
                <div class="svg-border-angled text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
                        fill="currentColor">
                        <polygon points="0,100 100,0 100,100"></polygon>
                    </svg>
                </div>
                </header>
                <!-- SECCION 3 MEJORES PLANES -->
                <section class="bg-white pt-5">
                    <div class="container">
                
                            <!-- plan ESTRELLA -->
                        <!-- Titutlo y descripción (Tamaño perfecto de imagen de 800 x 500) -->
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="mb-5 text-center">
                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">Planes Estrellas
                                    </div>
                                    <p class="lead mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, nisi?!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- PLATO N1 -->
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <a class="card lift" href="product.html"><img class="card-img-top"
                                        src="assets/img/planes/deporte1.jpg" alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">Lorem ipsum dolor sit amet.</h6>
                                        <div class="text-yellow"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>

                                        <div class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nulla culpa quasi ipsa explicabo rerum maxime enim, nobis aspernatur officiis.
                                        </div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-dumbbell mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                            <!-- PLATO N2 -->
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <a class="card lift" href="#!"><img class="card-img-top"
                                        src="assets/img/planes/deporte2.jpg" alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">Lorem ipsum dolor sit amet.</h6>
                                        <div class="text-yellow"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></div>

                                        <div class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum impedit sapiente quibusdam tempora officiis deleniti qui veritatis numquam, doloribus tenetur.</div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-calendar-check mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                            <!-- PLATO N3 -->
                            <div class="col-lg-4">
                                <a class="card lift" href="#!"><img class="card-img-top" src="assets/img/planes/deporte3.jpg"
                                        alt="..." />
                                    <div class="card-body text-center py-3">
                                        <h6 class="card-title mb-0">Lorem ipsum dolor sit amet.</h6>
                                        <div class="text-yellow"><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star-half-alt"></i><i class="far fa-star"></i></div>

                                        <div class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima temporibus aut accusantium assumenda fugiat repellat blanditiis similique delectus rem natus!</div>
                                    </div>
                                    <div class="card-footer text-center text-xs"><i
                                            class="fas fa-biking mr-1"></i>@Ka.Koach</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- SEPARADOR DE ESPACION ENTRE TIENDAS  Y EL SUSCRIBIRSE A PROMOCIONES -->
                    <div class="svg-border-angled text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
                            fill="currentColor">
                            <polygon points="0,100 100,0 100,100"></polygon>
                        </svg>
                    </div>
             
                </section>
               
                <!-- SECCCION TITULO  -->
                <section class="bg-light py-5">
                    <div class="container">
                        <!-- TITULO -->
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="mb-5 text-center">
                                    <div class="text-xs text-uppercase-expanded text-primary mb-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente est expedita doloribus! 
                                    </div>
                                    <p class="lead mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum est perspiciatis ab totam unde accusamus ducimus nemo eaque inventore, minima animi nam? Tempore, sed. Ipsa voluptatum atque, suscipit esse ab ducimus fugiat assumenda provident neque incidunt? Magnam debitis sunt accusamus! </p>
                                </div>
                            </div>
                        </div>
                      </div>
                  
                </section>
                <!-- SECCION VER MÁS-->
                <section class="bg-light pt-5  pb-0" >
                    <div class="container">
                        <!-- Ver Más -->
                        <div class="card mt-n10 mb-10 z-1">
                            <div class="card-body p-4">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <h4>Saber Más</h4>
                                        <p class="lead text-gray-500 mb-0">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, iste!
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group mb-2">
                                            <input class="form-control form-control-solid" type="text"
                                                placeholder="youremail@example.com" aria-label="Recipient's username"
                                                aria-describedby="button-addon2" />
                                            <div class="input-group-append"><button class="btn btn-primary"
                                                    id="button-addon2" type="button">Enviar</button></div>
                                        </div>
                                        <div class="small text-gray-500">Lorem ipsum dolor sit amet.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="svg-border-angled text-black">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 100 100" preserveAspectRatio="none"
                            fill="currentColor">
                            <polygon points="0,100 100,0 100,100"></polygon>
                        </svg>
                    </div>
                </section>
            </main>
        </div>
        <!-- FOOTER -->
        <div id="layoutDefault_footer">
            <footer class="footer pt-10 pb-5 mt-auto bg-black footer-dark">
                <div class="container">
                    <div class="row">
                        <!-- TITULO DUOC Y REDES SOCIALES -->
                        <div class="col-lg-3">
                            <div class="footer-brand">Lorem ipsum dolor sit amet.</div>
                            <div class="mb-3">Lorem ipsum dolor sit amet.</div>
                            <div class="icon-list-social mb-5">
                                <a class="icon-list-social-link" href="javascript:void(0);"><i
                                        class="fab fa-instagram"></i></a><a class="icon-list-social-link"
                                    href="javascript:void(0);"><i class="fab fa-facebook"></i></a><a
                                    class="icon-list-social-link" href="javascript:void(0);"><i
                                        class="fab fa-github"></i></a><a class="icon-list-social-link"
                                    href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-9">
                            <div class="row">
                                <!-- COLUMNA 1 -->
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Servicios</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Lorem ipsum dolor sit amet.</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Lorem ipsum dolor sit amet.</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Lorem ipsum dolor sit amet.</a></li>

                                    </ul>
                                </div>
                                <!-- COLUMNA 2 -->
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Creadores</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">Informaticos Tulones</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Nicolas Poblete</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Luciano Molina</a></li>

                                    </ul>
                                </div>
                                <!-- Columna 3 -->
                                <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                                    <div class="text-uppercase-expanded text-xs mb-4">Socios</div>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><a href="javascript:void(0);">GYM Pacific</a></li>
                                        <li class="mb-2"><a href="javascript:void(0);">Vive Fitnnes</a></li>
                                 

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- FOOTER FINAL  -->
                    <hr class="my-5" />
                    <div class="row align-items-center">
                        <div class="col-md-6 small">Copyright &copy;Proyecto 2020</div>
                        <div class="col-md-6 text-md-right small">
                            <a href="javascript:void(0);">Proyecto</a>
                            &middot;
                            <a href="javascript:void(0);">Terminos &amp; Condiciones</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous">
    </script>
    <!-- POR EL MOMENTO NO INFLUYE EL SCRIPT -->
    <script src="js/scripts.js"></script>
</div>