 <div class="container-fluid bg-black py-5">
 	<div class="row">
 		<div class="col-12">
 			<div class="row">
				<div class=" col-sm-2 col-md-1"></div>
				<button 
				(click)="showDef()" (click)="onDef()" 
				[ngClass]="{'active': defToActive}"
				 class="btn btn-outline-light btn-marketing rounded-pill col-12 col-sm-8 col-md-4 active" id="deformass1">PLANES DE DEFINICIÓN</button>
				<div class=" col-sm-2 col-md-1 mt-2 mt-lg-2"></div>
			
				<div class="col-sm-2 col-md-1"></div>
				<button (click)="onHyp()" [ngClass]="{'active': hypToActive}" class="btn btn-outline-light btn-marketing rounded-pill col-12 col-sm-8 col-md-4" id="deformass2"(click)="showHyp()">PLANES DE VOLUMEN</button>	
				<div class="col-sm-2 col-md-1"></div>
			</div>	
 		</div>
 	</div>
</div>

