<!--PRESENTACION-->
<header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container" *ngFor="let card of cardJson">
            <div class="row justify-content-center"></div>
                
            <div class="mb-4" style="word-wrap: break-word;">
                   <img class="mb-4 rounded mx-auto d-block" src="{{url}}/mostrar-tarjeta-img/{{card.imagen}}" />
                    <h1 class="page-header-title text-center">{{card.titulo}}</h1>
            </div>  
            <div class="col-xl-12 col-lg-12 text-justify" style="word-wrap: break-word;">
                <p class="page-header-text">{{card.descripcion}}
                </p> 
            </div>
            
        </div>
    </div>
  
</header>