<div class="row mb-10">
    <div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="card shadow-lg border-0 rounded-lg mt-5">
			<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Transacción Rechazada&nbsp;<i class="fas fa-ban" style="color: red"></i></h3>
			</div>
			<div class="card-body">
		
		        <div class="form-row mt-3">
		        	<div class="col-lg-2"></div>
		        	<div class="col-lg-8">
			        	<ul>
			    	   		<li>
			       			    <div class="form-group">
				                	<p>Lo sentimos, su compra fue rechazada, inténtelo de nuevo.</p>
				                </div>

			        		</li>
			        	</ul>		
			        </div>

		        	<div class="col-lg-2 mr-2"></div>
		        </div>
			</div>

			<div class="card-footer text-center">
				<a class="btn btn-outline-dark btn-marketing rounded-pill" href="/"><i class="fas fa-arrow-left ml-4" style="font-size: 1rem"></i> &nbsp; Volver al Home</a> 
			</div>
		</div>
    </div>
    <div class="col-lg-4"></div>
