 <div class="row mb-10">
    <div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="card shadow-lg border-0 rounded-lg mt-5">
			<div class="card-header justify-content-center"><h3 class="font-weight-light my-4">Enviar Mensaje</h3>
			</div>
			<div class="card-body">
			    <form (ngSubmit)="onSubmit(f)" #f="ngForm"  class="needs-validation"  novalidate>
			        <div class="form-row">
			            <div class="col-md-6">
			                <div class="form-group"><label class="small mb-1" for="inputFirstName">Nombre</label><input [(ngModel)]= "datosContactMe.nombre" #nombre="ngModel" name="nombre" class="form-control py-4" id="inputFirstName" type="text" placeholder="Ingresar Nombre" maxlength="25" required/>
							<div class="valid-feedback"></div>
        					<div class="invalid-feedback"></div>	
							</div>
			            </div>
			            <div class="col-md-6">
							<div class="form-group"><label class="small mb-1" for="inputLastName">Apellido</label><input  [(ngModel)]= "datosContactMe.apellido" #apellido="ngModel" name="apellido" class="form-control py-4" id="inputLastName" type="text" placeholder="Ingresar Apellido" required maxlength="25" />
							<div class="valid-feedback"></div>
        					<div class="invalid-feedback"></div>
							</div>
			            </div>
			        </div>
					<div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email</label><input  [(ngModel)]= "datosContactMe.mail" #mail="ngModel" name="mail" class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Ingresar Email"  required />
					<div class="valid-feedback"></div>
					<div class="invalid-feedback"></div>
					</div>

			        <div class="form-group">
			        	<label for="#">Mensaje</label>
    					<textarea minlength="10"  [(ngModel)]= "datosContactMe.mensaje" #mensaje="ngModel" name="mensaje"  class="form-control" placeholder="Ingrese aquí su mensaje, duda o problema." rows="3" required></textarea>
						<div class="valid-feedback"></div>
        				<div class="invalid-feedback"></div>
					</div>

					<re-captcha (resolved)="resolved($event)" 
				              siteKey="6LdBviQaAAAAAAo93OzLhfx_cmhr4K82UuZDR8gV">  
				  	</re-captcha>
					
					<div class="mt-2 card-footer text-center">

						<button [disabled]="!f.valid" class="btn btn-primary btn-block" >Enviar</button>

					</div>		      
			    </form>
			</div>
		</div>
    </div>
    <div class="col-lg-2"></div>
