
<app-navbar></app-navbar>
<!-- ESPECIFICACION DEL PRODUCTO-->
<section class="bg-white py-10" *ngIf="!paid">
    <div class="container">
        <div class="row align-items-center justify-content-center" *ngFor="let plan of planJson">
            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                <div class="content-skewed content-skewed-right">
                    <img *ngIf="!personal" class="content-skewed-item img-fluid shadow-lg rounded-lg" src="{{url}}/show-plan/{{plan.imagen}}" />
                    <img *ngIf="personal" class="content-skewed-item img-fluid shadow-lg rounded-lg" src="{{url}}/show-personal-plan-img/{{plan.imagen}}" />
                </div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                
                <div class="row" >
                  
                    <div class="col-md-12 card pricing h-100">
                        <div class="card-body p-5">
                            <div class="text-center">
                                <h1 class=" text-primary">{{plan.nombre}}</h1>

                                <div class="pricing-price" id="precio" *ngIf="moneyType"><sup>CLP $</sup>{{price}}</div>

                                <div class="pricing-price" id="precio" *ngIf="!moneyType"><sup>USD $</sup>{{price}}</div>
                            </div>
                            <ul class="fa-ul pricing-list">
                                <li class="pricing-list-item" *ngFor="let pros of plan.pros">
                                    <span class="fa-li"><i class="far fa-check-circle text-teal"></i></span><span class="text-dark">{{pros}}</span>
                                </li>        
                            </ul>
                            
                        </div>

                        <div class="row">

                            <p class="d-flex justify-content-center mt-n2 mb-5 col-lg-6">
                              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="clp">
                                <mat-button-toggle value="clp" (click)="letClp()">CLP</mat-button-toggle>
                                <mat-button-toggle value="usd" (click)="letUsd()">USD</mat-button-toggle>
                              </mat-button-toggle-group>
                            </p>


                            <div class="d-flex justify-content-center mt-n1 mb-5">
                                <form (ngSubmit)="create()" action="webpayurl" method="POST">
                                    <input type="hidden" name="token_ws" value="token">
                                    <button type="submit" class="btn-black btn rounded-pill px-4 ml-lg-4">Comprar<i
                                    class="fas fa-arrow-right ml-1"></i></button>      
                                </form>
                              
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
        <!-- BORDE -->
        <app-border-footer></app-border-footer>
</section>

<main *ngIf="paid">

    <div *ngIf="status">
    <app-voucher *ngFor="let plan of planJson" [Transaction]="transaction" [Precio]="plan.precio" [Pdf]="plan.pdf"></app-voucher>    
    </div>
    <div *ngIf="!status">
    <app-cancelled></app-cancelled>    
    </div>

    <section>
        <app-border-footer></app-border-footer>
    </section>
</main>

<app-footer></app-footer>
